# Store text files with Linux-compatible LF line endings
* text=auto eol=lf

# Bash scripts
*.sh text eol=lf

# Terraform files
*.tf text eol=lf
*.tfvars.example text eol=lf

# CI/CD configuration files
*.yml text eol=lf
*.yaml text eol=lf

# Documentation
*.md text eol=lf